**/.DS_Store
build
dist
env
research
images/.DS_Store
knowledge-share-tmp/
knowledge-share/slides.aux
knowledge-share/slides.synctex.gz
knowledge-share/slides.toc
knowledge-share/slides.vrb
paper/win-api-deobf.aux
paper/win-api-deobf.bbl
paper/win-api-deobf.blg
paper/win-api-deobf.log
paper/win-api-deobf.pdf
paper/win-api-deobf.synctex.gz
knowledge-share/slides.log
knowledge-share/slides.nav
knowledge-share/slides.out
knowledge-share/slides.pdf
knowledge-share/slides.snm
experiments/env
experiments/old
experiments/devel
experiments/src/*/*.pyc
experiments/src/*.egg-info
experiments/results/
experiments/plots
experiments/tests/*.pyc
experiments_old/
**/*.pyc
